DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=internship_planner
PORT=3001
JWT_SECRET=change_me_long_random
JWT_REFRESH_SECRET=change_me_another_long_random
DEFAULT_USER_EMAIL=your@email.com
DEFAULT_USER_PASSWORD=your_password
DEFAULT_USER_NAME=yourname
